<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #f9fbe7;
  min-height: 100vh;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .go-up {
    animation: goup 1.8s ease-in forwards;
  }

  .go-down {
    animation: godown 1.8s ease-in forwards;
  }

  @keyframes goup {
    100% {
      transform: translate(0px, -60px);
    }
  }

  @keyframes godown {
    100% {
      transform: translate(0px, 60px);
    }
  }

  .tremble {
    animation: tremble 0.5s ease;
  }

  @keyframes tremble {
    0%,
    100% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-5px);
    }
    40% {
      transform: translateX(5px);
    }
    60% {
      transform: translateX(-5px);
    }
    80% {
      transform: translateX(5px);
    }
  }

  .main-button {
    @apply font-primary font-bold bg-primary py-4 px-10 rounded-full text-slate-100 shadow-lg;
  }

  .main-button-hover {
    @apply hover:bg-lightprimary active:bg-extralightprimary hover:scale-105 hover:shadow-xl transition-transform transform;
  }

  .category-container {
    @apply flex justify-between w-48 text-lg mb-6  font-primary px-3 py-1 rounded-sm sm:w-80 border-black border-2 font-bold cursor-pointer hover:border-none hover:px-[14px] hover:py-[6px] hover:shadow-md hover:bg-white/90;
  }
}
=======
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #f9fbe7;
  min-height: 100vh;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .go-up {
    animation: goup 1.8s ease-in forwards;
  }

  .go-down {
    animation: godown 1.8s ease-in forwards;
  }

  @keyframes goup {
    100% {
      transform: translate(0px, -60px);
    }
  }

  @keyframes godown {
    100% {
      transform: translate(0px, 60px);
    }
  }

  .tremble {
    animation: tremble 0.5s ease;
  }

  @keyframes tremble {
    0%,
    100% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-5px);
    }
    40% {
      transform: translateX(5px);
    }
    60% {
      transform: translateX(-5px);
    }
    80% {
      transform: translateX(5px);
    }
  }

  .main-button {
    @apply font-primary font-bold bg-primary py-4 px-10 rounded-full text-slate-100 shadow-lg;
  }

  .main-button-hover {
    @apply hover:bg-lightprimary active:bg-extralightprimary hover:scale-105 hover:shadow-xl transition-transform transform;
  }

  .category-container {
    @apply flex justify-between w-48 text-lg mb-6  font-primary px-3 py-1 rounded-sm sm:w-80 border-black border-2 font-bold cursor-pointer hover:border-none hover:px-[14px] hover:py-[6px] hover:shadow-md hover:bg-white/90;
  }
}
>>>>>>> a825e4238c2a4c9321a49a838ffbc4a811f5bedb
